Makefile.in
Makefile
.deps
.libs
.dirstamp
*.lo
*.la
*.o
config.guess
config.status
configure
aclocal.m4
config.log
config.h
ltmain.sh
libtool
install-sh
depcomp
/m4/
/po/*.strings
/py-compile
/src/wp/ap/xp/ap_wp_sidebar.cpp
/src/wp/main/cocoa/bundle/Info.plist
/src/wp/test/unix/testwrap.sh
/src/wp/test/win/testwrap.sh
/src/abiword